

<ion-content>
  <div class="padding">
    
    <div class="logo">
      <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
      <!-- <ion-icon color="light" name="contact"></ion-icon> -->
      <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
      <!-- <img src="../../assets/logo.png"> -->
    </div>
    <form #form="ngForm" (ngSubmit)="resetPasword(form)">

    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input color="light" name="email" type="email" aria-placeholder="your@email.com" ngModel required></ion-input>
    </ion-item>

    

    
    <ion-button color="light" expand="block" shape="round" fill="outline" type="submit" [disabled]="form.invalid"> Reset Your Password</ion-button>
    <br>
    
    
  </form>

    
    
   

    

  </div>

  <!-- <form #form="ngForm" (ngSubmit)="resetPasword(form)">
    <div>
      <ion-item>
        <ion-input name="email" type="email" aria-placeholder="your@email.com" ngModel required></ion-input>
      </ion-item>
      
    </div>
    <div style="text-align : center ; margin: auto;">
      <ion-button type="submit" [disabled]="form.invalid"> Reset Your Password</ion-button>
    </div>
</form> -->
    
</ion-content>
