<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- <div style="display:flex; justify-content:space-between;"> -->
      <span style="float: left; margin: auto;">
        Profile
      </span>
<span></span>
      <span style="float: right; margin: auto;">
        <!-- <ion-button (click)="logOutUser()"> <i class="fa fa-sign-out"></i></ion-button> -->
        <i style="font-size:24px" class="fa" (click)="logOutUser()">&#xf08b;</i>
      </span>
    <!-- </div> -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
    
  <div class="logo">
    <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
    <!-- <ion-icon color="light" name="contact"></ion-icon> -->
    <!-- <ion-icon color="light" name="cloudy-night"></ion-icon> -->
    <img style="border-radius: 50%;" src="../../assets/zolok.jpg">
  </div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
